{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ title }}</h1>


{% if age > 18 %}
    <p>Tu es majeur !!</p>
{% else %}
    <p>Tu es mineur !!</p>
{% endif %}


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores aperiam ad error corrupti itaque pariatur? Delectus necessitatibus consequuntur dolorum commodi quas harum voluptates optio praesentium, aliquid repudiandae maiores quasi?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores aperiam ad error corrupti itaque pariatur? Delectus necessitatibus consequuntur dolorum commodi quas harum voluptates optio praesentium, aliquid repudiandae maiores quasi?</p>

{% endblock %}